* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

 .canvas { 
  border: 1px solid black; 
}

#skins {
    display: none;
}

#game {
    display: none;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}
.skinDisplay{
    flex: 1;
    text-align: center;
}

#lobby{
    text-align: center;
    
    width: 30%;
    background-color: rgb(128,128,128,.75);
}

.owned{
    background-color: rgb(128,128,128);
}

.equipped{
    background-color: rgb(252,128,128);
}

#unsuccessfulEquip{
    position: fixed;
    display: none;
    top: 40%;
    left: 40%;
    width: 30%;
    height: 30%;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
    text-align: center;
}
#unsuccessfulEquip button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#ad1{
    float: right;
    width: 128px;
    height: 500px;
    padding-right: 50px;
}

#ad2{
    position:absolute;
    left: 20px;
    top: 660px;
    height: 128px;
    width: 700px;
}

body{
    background: url("../assets/sprites/Scroll.png") repeat;
    -webkit-animation: scrolling 2s linear infinite;
    -moz-animation: scrolling 2s linear infinite;
    -o-animation: scrolling 2s linear infinite;
    animation: scrolling 2s linear infinite;
}

@-webkit-keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 105% 105%;
  }
}