* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

 .canvas { 
  border: 1px solid black; 
}

.ad {
    
}

#ad1{
    float: right;
    width: 128px;
    height: 500px;
    padding-right: 50px;
}

#ad2{
    position:absolute;
    left: 20px;
    top: 660px;
    height: 128px;
    width: 700px;
}